.nav {
  height: 100%;
}

.scrollbar {
  height: 100%;
  background-color: rgb(34, 45, 50);
}

.el-menu {
  height: 100%;
}

.el-menu:not(.el-menu--collapse) {
  width: 180px;
  overflow-x: hidden;
}

.hidden {
  padding: 0;
  margin: 0;
  height: 0;
}

.nav-title {
  color: #ffffff;
}
